{% extends "reviews/base.html" %}

{% block title %}
All reviews!
{% endblock %}

{% block content %}
    <ul class="reviewlist">
            {#  for review in reviews #}
            {#  for review in object_list  #}
            {# We are using the reviews as context_object_name property defined in the views #}
            {% for review in reviews %}
            <li>
                {{ review.user_name }} (Rating: {{ review.rating }})
            </li>
        {% endfor %}
    </ul>
{% endblock %}