{%  extends "base.html" %}

{%  block title %}
    My Blog
{% endblock %}

{% block content %}
    <header id="main-navigation">
        <h1>
            <a href="">
                Deeps' Blog
            </a>
        </h1>
        <nav>
            <a href="">
                All Posts
            </a>
        </nav>
    </header>
    <section id="welcome">
        <header>
            <img src="" alt="Deepanshu - The author of this blog"/>
            <h2>
                Deepanshu's Blog
            </h2>
        </header>
        <p>
            Hi! I am Deepanshu. I love to blog about tech and the world! My favourite programming language is Python.
            I love to learn programming and would like to have my own product developed someday.
        </p>
    </section>

    <section id="latest-posts">
        <h2>
            My Latest Thoughts
        </h2>
        <ul>
            <li>
                <article class="post">
                    <a href="">
                        <img src="" alt=""/>
                    </a>
                </article>
            </li>
        </ul>
    </section>
{% endblock %}