<!--
Remember that we need to create the templates (which is a HTML file for rendering) with the response back to the user
under templates/<app name>/ directory. So in our case, we are creating challenge.html under
/challenges/templates/challenges/
This is the generic convention in Django
 -->

{% extends "base.html" %}
{% block page_title %}

    {{ month|title }} Challenges <!--We are using the title filter from the DTL to convert the text
    into title case -->
{% endblock %}

{% block content %}
    {% include "challenges/includes/header.html" with active_page="challenge" %}  <!-- This is the DTL syntax include tag to include the HTML snippet
    from header.html -->
    <h1>{{ month|title }}'s Challenge</h1>
    <!-- <h2>Go for a walk for at least 20 minutes for a day!</h2> We will be setting the text in this tag dynamically
    using DTL syntax. This is not a regular HTML syntax and will be picked up by Django. The special syntax is called as
    Django Template Language -->
    {% if text is not None %}
    <h2>{{ text }}</h2>  <!-- Text inside curly braces is DTL syntax }} -->
    {%  else %}
    <h2>There is no challenge set for this month</h2>
    {% endif %}
{% endblock %}