<!--
Remember that we need to create the templates (which is a HTML file for rendering) with the response back to the user
under templates/<app name>/ directory. So in our case, we are creating challenge.html under
/challenges/templates/challenges/
This is the generic convention in Django
 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monthly Challenges</title>
</head>
<body>
    <h1>{{ month }}'s Challenge</h1>
    <!-- <h2>Go for a walk for at least 20 minutes for a day!</h2> We will be setting the text in this tag dynamically
    using DTL syntax. This is not a regular HTML syntax and will be picked up by Django. The special syntax is called as
    Django Template Language -->
    <h2>{{ text }}</h2>  <!-- Text inside curly braces is DTL syntax }}
</body>
</html>