{% extends "base.html" %}  <!-- We are inheriting the template from base.html -->

<!-- We have now injected the title and body content in the page_title and content using block tag -->

{% block page_title %}
    All Challenges
{% endblock %}

{% block content %}
    <h1>Hello! Welcome to your monthly challenges page.</h1>
    <p>Click on each month to view your monthly challenges</p>
    <ul>
        {% for month in months %}  <!-- Starting the for loop in DTL syntax and loop through the list of items -->
            <!-- <li><a href="/challenge/{{ month }}">{{ month|title }}</a></li> --> <!-- create the anchor tag and set the
        URL reference using DTL interpolation. Better way of doing it is below code-->
            <li><a href="{% url 'month-challenge' month %}">{{ month|title }}</a></li>  <!-- Here, DTL will take the value of
            month as argument for the url which is identified by the name month-challenge -->
        {% endfor %}  <!-- We need to specifically tell when we end the for list in DTL syntax -->
    </ul>
{% endblock %}