<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Challenges</title>
</head>
<body>
    <ul>
        {% for month in months %}  <!-- Starting the for loop in DTL syntax and loop through the list of items -->
        <li><a href="">{{ month|title }}</a></li>  <!-- create the anchor tag and set the URL reference using -->
        {% endfor %}  <!-- We need to specifically tell when we end the for list in DTL syntax -->
    </ul>
</body>
</html>